.about-title-container {
    padding-top:60px;
    padding-bottom: 40px;
}


.title-underline-left {
    width: 200px;
    border: solid 4px #4a128b;
    margin-bottom: 50px;
}

.aboutus-title {
    margin-top:60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 29px;
    line-height: 1.4;
}

.about-main-image {
    border-radius: 20px;
    object-fit: cover;
    object-position: bottom;
    height: 300px;
    box-shadow: -15px 15px 0px 0px #ffa408;
}

@media (min-width: 991px) {
    .about-title-container {
        padding-top: 160px;
        padding-bottom: 65px;
    }

    .aboutus-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #000;
        font-size: 29px;
        line-height: 1.4;
        margin-top: 0px;
    }

    .about-main-image {
        border-radius: 20px;
        object-fit: cover;
        object-position: bottom;
        height: 220px;
    }
}

.visi-misi-container {
    margin-top:100px;
}

.small-bold {
    font-size: 15px;
    font-weight: bold;
}

.visi-container {
    padding-top:150px;
    padding-bottom:150px;
    background-color: #4a128b;
}

.misi-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    /* min-height: 500px; */
}

@media (min-width: 991px) {
    .misi-container {
        padding-top: 90px;
        padding-bottom: 90px;
        background-color: #fff;
        min-height: 500px;
    }
}

.main-pharagraph {
    line-height: 1.5;
    margin-top: 38px;
    text-align: justify;
    padding-right: 30px;
}

.about-contact-card {
    border-radius: 35px;
    width: 100%;
    padding: 18px 35px;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 40px;;
    margin-top: 54px;
    background-color: rgb(39 5 78 / 74%);
    backdrop-filter: blur(3px);
}

@media (min-width: 991px) {
    .about-contact-card {
        border-radius: 35px;
        width: 100%;
        padding: 18px 35px;
        background-position: center;
        background-size: cover;
        min-height: 300px;
        
    }
}

.about-contact-card img {
    float: left;
    margin-right: 30px;;
}

.about-contact-card h3 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #ffa408;
    z-index: 10;
    font-size: 30px;
    margin-top:20px;
}

.about-contact-card p {
    z-index: 10;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

a {
    color: #4a128b;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #210b3a;
    font-weight: bold;
    text-decoration: none;
}

p {
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
    color: 000;
    font-size: 18px;
    /* letter-spacing: -0.054px; */
    line-height: 30px;
}

ul {
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
    color: 000;
    font-size: 18px;
    /* letter-spacing: -0.054px; */
    line-height: 30px;
}