.article-main-container {
    padding-top: 60px;;
}

.tag-link {
    text-decoration: none;
    color: #ffa408;
    font-weight: bold;
}

.tag-link:hover {
    text-decoration: underline;
    color: #4a128b;
    font-weight: bold;
}

.main-banner-image {
    height: 90vw;
    object-fit: cover;
    object-position: top center;
    box-shadow: -15px 15px 0px 0px #ffa408;
}


@media (min-width: 991px) {
    .main-banner-image {
        height: 400px;
    }

}

p {
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
    color: 000;
    font-size: 18px;
    letter-spacing: -0.054px;
    line-height: 28px;
}