.main-contact-form {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    box-shadow: -15px 15px 0px 0px #ffa408;
    border: solid 3px #4a128b;
    border-radius: 10px;
    padding: 15px 15px;;
}

.main-contact-container {
    padding-top:230px;
    padding-bottom:230px;
}

.main-contact-form input {
    border: solid 1px #4a128b;
}

.main-contact-form textarea {
    border: solid 1px #4a128b;
}

.main-contact-form label {
    font-size: 12px;
}

.main-contact-form small.error {
    font-size: 11px;
    color: rgb(195, 14, 14);
}

.contact-main-image {
    border-radius: 20px;
    object-fit: cover;
    object-position: bottom;
    height: 450px;
    width: 100%;
    box-shadow: -15px 15px 0px 0px #ffa408;
}