.main-banner-image {
    height: 90vw;
    object-fit: cover;
    object-position: top center;
    box-shadow: -15px 15px 0px 0px #ffa408;
}

.swipper-screenshot-img {
    width: 240px;
    height: 240px;
    border-radius: 10px;
    box-shadow: -5px 5px 0px 0px #ffa408;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media (min-width: 991px) {
    .main-banner-image {
        height: 400px;
    }

    .swipper-screenshot-img {
        width: 280px;
        height: 280px;
    }
}

.title-underline-left {
    width: 200px;
    border: solid 4px #4a128b;
    margin-bottom: 15px;
    border-radius: 20px;
}


.tag-link {
    text-decoration: none;
    color: #ffa408;
    font-weight: bold;
}

.tag-link:hover {
    text-decoration: underline;
    color: #4a128b;
    font-weight: bold;
}

p {
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    color: 000;
    font-size: 18px;
    /* letter-spacing: -0.054px; */
    line-height: 30px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
    color: 000;
    font-size: 18px;
    /* letter-spacing: -0.054px; */
    line-height: 30px;
}