.portfolio-main-container {
    padding-top:130px;
}

.portfolio-image-list {
    border-radius: 20px;
    box-shadow: -15px 15px 0px 0px #ffa408;
    height: 250px;
    object-fit: cover;
}

.portfolio-list {
    margin-top: 60px;
}

.btn-small {
    font-size: 13px;
    padding : 5px 18px;
    margin:5px 4px;
}

.read-more i {
    margin-right: 15px;
}

.read-more {
    text-decoration: none;
    color: #4a128b;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
    color: #ffa408;
    font-weight: bold;
}

.tag-link {
    text-decoration: none;
    color: #ffa408;
    font-weight: bold;
}

.tag-link:hover {
    text-decoration: underline;
    color: #4a128b;
    font-weight: bold;
}

.title-underline {
    width: 200px;
    border: solid 4px #4a128b;
    margin:0 auto;
}