.service-main-container {
    padding-top:170px
}

.service-main-title {
    font-weight: bold;
    font-size: 30px;;
    text-align: center;
}
.service-card {
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 15px;
}

.service-card .header-card {
    text-align: center;
    width: 100%;
    padding-top: 30px;;
    padding-bottom: 30px;;
    border-top-left-radius: 15px;;
    border-top-right-radius: 15px;;
    /* border-radius: 10px;; */
    position: relative;
    /* z-index: 29; */
}

.header-1 {
    background: linear-gradient(to right, #814bdd, #a43dcd);
}

.header-2 {
    background: linear-gradient(to right, #b739be, #e52594);
}

.header-3 {
    background: linear-gradient(to right, #f64861, #f1278a);
}

.header-4 {
    background: linear-gradient(to right, #0198e7, #6845dd);
}

.header-card h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.header-card p {
    color: #fff;
    width: 80%;
    margin:0 auto;
    font-size: 16px;
}
.service-card .body-card {
    text-align: center;
    background-color: #fff;
    padding: 25px 20px;;
    padding-top:60px;
    /* border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 20px #ccc; */
    width: 100%;
    margin: 0 auto;
    margin-top: -30px;
}

.service-card .body-card ul {
    list-style-image : url("../img/check-icon.png");
    padding:0px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block;
    width: 150px;
}

.service-card .body-card ul li {
    text-align: left;
    margin-top: 6px;
    font-size: 14px;
}

.service-button {
    margin-top:30px;
    margin-bottom:20px;
}