html {
    scroll-behavior:smooth;
}
html, body {
    overflow-x: hidden;
    position: relative;
}
h3 {
    font-family : 'Montserrat', sans-serif;
    font-size : 30px;
    font-weight: 700;
}

.btn {
    font-family : 'Montserrat', sans-serif;
    font-size : 12px;
    font-weight: bold;
    padding:7px 13px;
}

@media (min-width: 991px) {
    .btn {
        font-family : 'Montserrat', sans-serif;
        font-size : 16px;
        font-weight: bold;
        padding:9px 14px;
    }
}

.h-400 {
    min-height: 400px;   
}

.main-header {
    position: fixed;
    z-index: 9999;
    transition: transform 0.3s;
    transform: translateY(0);
    padding:0px 0px;
}
.center-main-header {
    background-color: rgba(74, 18, 139, 0.8);
    backdrop-filter: blur(4px);
}
.action-button {
    padding-bottom: 20px;
}
@media (min-width: 991px) {
    .center-main-header {
        border-radius: 40px;
    }
    .main-header {
        position: fixed;
        z-index: 9999;
        transition: transform 0.3s;
        transform: translateY(0);
        padding:10px 0px;
    }
    .action-button {
        padding-bottom: 0px;
    }
}

.main-header.hidden {
    transform: translateY(-100%) !important;
}
.main-logo {
    height: 50px;;
}
.main-color-bg {
    background-color: #4a128b;
}
.main-navbar {
    margin-left: 50px;
}
.main-navbar ul li {
    margin-left: 8px;
    margin-right: 8px;
}
.main-navbar ul li a {
    color: #fff;
    font-size: 15px;;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.main-navbar ul li a:hover {
    color: #ffa408;
    font-size: 15px;;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.main-navbar ul li a.active {
    color: #ffa408 !important;
    font-size: 15px;;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
@media (min-width: 991px) {
    .main-header.hidden {
        transform: translateY(-100%) !important;
    }
    .main-logo {
        height: 40px;;
    }
    .main-color-bg {
        background-color: #4a128b;
    }
    .main-navbar {
        margin-left: 20px;
    }
    .main-navbar ul li {
        margin-left: 8px;
        margin-right: 8px;
    }
    .main-navbar ul li a {
        color: #fff;
        font-size: 11px;;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .main-navbar ul li a:hover {
        color: #ffa408;
        font-size: 11px;;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .main-navbar ul li a.active {
        color: #ffa408 !important;
        font-size: 11px;;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
}
@media (min-width: 1200px) {
    .main-header.hidden {
        transform: translateY(-100%) !important;
    }
    .main-logo {
        height: 50px;;
    }
    .main-color-bg {
        background-color: #4a128b;
    }
    .main-navbar {
        margin-left: 50px;
    }
    .main-navbar ul li {
        margin-left: 8px;
        margin-right: 8px;
    }
    .main-navbar ul li a {
        color: #fff;
        font-size: 15px;;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .main-navbar ul li a:hover {
        color: #ffa408;
        font-size: 15px;;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .main-navbar ul li a.active {
        color: #ffa408 !important;
        font-size: 15px;;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
}

.my-bg-secondary {
    background-color: #ffa408;
}

.my-bg-secondary.active {
    background-color: #4a128b;
    border:solid 1px #4a128b;
    color: #fff;
}

.my-bg-secondary.active:hover {
    background-color: #5b2598;
    border:solid 1px #4a128b;
    color: #fff;
}


.header-padding {
    padding-top:120px;
}

.big-rounded {
    border-radius: 20px;;
}

.full-round {
    border-radius: 100px;
}
.font-bold {
    font-weight: bold !important;
}
#banner {
    padding-top:100px;
    height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title-container {
    
    z-index: 5;
    margin: 0 auto;
}

.border-radius-inverse-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25%;
    z-index: 5;
}


.super-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 37px;
    margin-top: 90px;
    color: #000;
}
.super-sub-title {
    font-family : "Open Sans", sans-serif;
    font-size : 19px;
}
.title-underline {
    width: 200px;
    border: solid 4px #4a128b;
    margin:0 auto;
    margin-bottom: 50px;
}

.title-underline-secondary {
    width: 200px;
    border: solid 4px #ffa408;
    margin:0 auto;
    margin-bottom: 50px;
}

.card-body-pos p {
    height:130px;
}
.bg-light-gray {
    background-color: #f6f5f8;
}
.z-negative-1 {
    z-index: -1;
}
.big-top-rounded {
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
}
.big-bottom-rounded {
    border-bottom-left-radius:30px;
    border-bottom-right-radius: 30px;
}
.full-rounded {
    border-radius: 999px;
    padding: 4px 15px;
}
.point-of-sales-image {
    height: 200px;
    object-fit: cover;
    background-color: #f6f5f8;
    border-radius: 20px;
}
.point-of-sale-fluid {
    background-color: #fff;
    padding-bottom: 70px;
    z-index: -1;
    min-height: 400px;
    /* border-bottom-right-radius: 150px; */
}
#point-of-sale {

}
.remove-border {
    border: none !important;
}

.med-rounded {
    border-radius: 15px;
}

.case-study-container {
    padding-bottom: 50px;
}

.fix-parralax {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -90;
    /* filter: brightness(1) opacity(0.4) blur(5px); */
    filter: brightness(0.2);
    top:0;
}

.case-study-card {
    margin-bottom: 40px;
    border-radius : 40px;
}

.case-study-card img {
    border-radius : 40px;
}

.case-study-card-body {
    background-color: rgb(255 255 255 / 67%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding:40px 35px;
}

.tecnology-fluid-container {
    background-color: #4a128b;
    padding-top:40px;
    padding-bottom: 70px;
}

.tech-card {
    background: none !important;
    padding: 10px;
}

.tech-card img {
    border-radius: 15px;
}

.tech-carousel-img {
    width:200px;
}

.carousel-indicators {
    bottom: -60px;
}

.swiper-wrapper {
    /* overflow-x: hidden; */
}

.news-container {
    background-color: #fff;
    margin-top: 0px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.dot-pattern {
    background-image: repeating-linear-gradient(
      60deg,
      #fff 0,
      #fff 10px,
      #fff 10px,
      #ccc 20px
    );
    background-size: 10px 10px;
  }
  

.article-card {
    background-color: #f6f5f8;
    margin-bottom: 25px;
}

.article-card.full {
    height: 526px;
}

.article-card.half {
    height: 250px;
}

.article-card.full .article-card-body {
    padding-top:360px;
}

.article-card.half .article-card-body {
    padding-top:90px;
}

.article-card-sort-desc {
    font-size: 13px;
    line-height: 18px;
}

.article-big-img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 350px;
    object-fit: cover;
}

.article-small-img {
    height: 249px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.article-img {
    height: 240px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.footer-container {
    background-color: #27054e;
    min-height:200px;
    padding-top:50px;
    padding-bottom:50px;
}

.news-container:before {
    background-color: #f00;
}

.footer h5 {
    color: #fff;
    display: block;
    border-bottom: solid #ffa408 3px;
    width:130px;
    padding-bottom: 10px;;
    margin-bottom: 13px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    width:200px;
}

.footer-address p {
    color: #fff;
    margin-top:30px;
}

.footer-contacts {
    padding-left: 12px;;
}
@media (min-width: 991px) {
    .footer-contacts {
        padding-left: 50px;;
    }
}
.footer-menu {
    list-style: none;
    padding: 0;
}
.footer-menu li {
    margin-bottom: 10px;
}
.footer-menu li a{
    text-decoration: none;
    color: #fff
}
.footer-menu li a:hover{
    text-decoration: none;
    color: #ffa408
}

.footer-social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
    color: #fff;
}
.footer-social-icons a.linkedin:hover  {
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
    color: #0072b1;
}

.footer-social-icons a.youtube:hover  {
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
    color: #CD201F;
}

.footer-social-icons a.instagram:hover  {
    display: inline-block;
    margin-right: 10px;
    font-size: 40px;
    color: #fccc63;
}

.copy-right-footer {
    border-top: solid 1px #888;
    color: #fff;
    padding-top:15px;
    margin-top:4px;
}

/* Slider */
#myCarousel {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}

.opacity-02 {
    opacity: 0.2;
}

.fs-17 {
    font-size: 17px;
}

.popme-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: 9999;
    top: 0px;
}

.popme-container img {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 10vh;
    object-fit: contain;
}

.popme-close {
    color: #fff;
    font-size: 33px;
    top: 11px;
    right: 13px;
    position: absolute;
    cursor: pointer;
}

.full-border-radius {
    border-radius: 40px;
}

.custom-search-input {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    padding-left: 22px;
}

.custom-search-button {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-right: 20px;
    background-color: rgba(74, 18, 139, 1);
    color: #fff;
}

.custom-search-button:hover {
    background-color: rgba(74, 18, 139, 0.7);
    color: #fff;
}

.category-list-title {
    background-color: rgba(74, 18, 139, 1) !important;
    color: #fff;
}

.category-list li:hover {
    background-color: rgba(74, 18, 139, 0.4);
}

.category-list li.active {
    background-color: rgba(74, 18, 139, 0.4);   
    border: none;
}

.blog-lates-article h3 {
    font-size: 16px;
}

.blog-lates-list h5 {
    font-size: 16px;
    font-weight: bold;
    width: 74%;
    line-height: 1.6;
}

.blog-lates-list p {
    font-size: 12px;
    line-height: 1.4;
    font-weight: lighter;
}

.blog-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.blog-title {
    line-height: 1.5;
}

.blog-desc {
    line-height: 1.4;
    font-size: 13px;
}

.article-main-container {
    background-color: #fff;
}

.article-main-container img {
    border-radius: 8px;
    width: 100%;
}

.blog-mian-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 35px;
    line-height: 1.4;
}

.btn-share {
    border-radius: 25px;
    margin-right: 4px;
    padding: 7px 18px;
}

.btn-share.btn-primary {
    background-color: #1877F2;
    color: #fff;
}

.btn-share.btn-info {
    background-color: #1DA1F2;
    color: #fff;
}

.btn-share.btn-success {
    background-color: #25D366;
    border:solid 1px #25D366;
    color: #fff;
}

.main-article pre {
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    padding: 14px 14px;
}

